/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/server/

# Signature
/signature/*.cer
/signature/*.p7b
/signature/*.p12
/signature/*.csr